<header class="th-header">
  <div class="th-header__content">
    <a routerLink="/">
      <h2 class="th-heading-3">
        Trade<span class="font-bold text-secondary">Hub</span>
      </h2>
    </a>
    <div class="th-header__links">
      <th-link link="/">Inicio</th-link>
      <th-link link="/providers" [linkActiveOptions]="{ exact: false }">
        Proveedores
      </th-link>
      <th-link link="/contact">Contacto</th-link>
    </div>
    <a th-btn routerLink="/auth/login">Iniciar sesión</a>
  </div>
</header>
<div class="th-header__spacing"></div>
