<form class="search-input">
  <div class="search-input__wrapper">
    <th-icon [name]="icon()" class="search-input__icon" />
    <input
      class="search-input__input"
      [placeholder]="placeholder()"
      [(ngModel)]="searchTerm"
      name="search-term"
      type="text"
    />
  </div>
  <div class="search-input__divider"></div>
  <button
    [th-btn]="btnOpts().variant || 'solid'"
    [icon]="btnOpts().icon"
    [th-btn-color]="btnOpts().color || 'secondary'"
    type="submit"
    (click)="handleClick()"
  >
    {{ btnLabel() }}
  </button>
</form>
