@import "tailwindcss";

@import "./app/core/styles/typography.css";

@import "@tabler/icons-webfont/dist/tabler-icons.css";

@import "@fontsource/plus-jakarta-sans/400.css";
@import "@fontsource/plus-jakarta-sans/500.css";
@import "@fontsource/plus-jakarta-sans/600.css";
@import "@fontsource/plus-jakarta-sans/700.css";
@import "@fontsource/plus-jakarta-sans/800.css";

@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-heading: "Plus Jakarta Sans", sans-serif;

  --color-primary: #0b3c5d;
  --color-primary-50: #eef6fa;
  --color-primary-100: #d9eaf3;
  --color-primary-200: #bcd7e6;
  --color-primary-300: #8fbad1;
  --color-primary-400: #5e98b8;
  --color-primary-500: #3c7aa0;
  --color-primary-600: #2c5f82;
  --color-primary-700: #214965;
  --color-primary-800: #173549;
  --color-primary-900: #0b3c5d;

  --color-secondary: #1c6ed5;
  --color-secondary-50: #eef4ff;
  --color-secondary-100: #dbe8ff;
  --color-secondary-200: #bcd3ff;
  --color-secondary-300: #8fb4ff;
  --color-secondary-400: #5f90f5;
  --color-secondary-500: #3d76e0;
  --color-secondary-600: #2c5ec2;
  --color-secondary-700: #214a99;
  --color-secondary-800: #17346e;
  --color-secondary-900: #1c6ed5;
  --color-secondary-container: #5295fe;

  --color-tertiary: #22c55e;
  --color-tertiary-50: #ecfdf3;
  --color-tertiary-100: #d1fae5;
  --color-tertiary-200: #a7f3d0;
  --color-tertiary-300: #6ee7b7;
  --color-tertiary-400: #34d399;
  --color-tertiary-500: #22c55e;
  --color-tertiary-600: #16a34a;
  --color-tertiary-700: #15803d;
  --color-tertiary-800: #166534;
  --color-tertiary-900: #14532d;
  --color-tertiary-fixed: #6bff8f;
  --color-on-tertiary-fixed: #002109;

  --color-neutral: #1f2937;
  --color-neutral-50: #f9fafb;
  --color-neutral-100: #f3f4f6;
  --color-neutral-200: #e5e7eb;
  --color-neutral-300: #d1d5db;
  --color-neutral-400: #9ca3af;
  --color-neutral-500: #6b7280;
  --color-neutral-600: #4b5563;
  --color-neutral-700: #374151;
  --color-neutral-800: #1f2937;
  --color-neutral-900: #111827;

  --color-surface: #f8f9ff;
  --color-surface-container-low: #eff4ff;
  --color-on-surface: #121c2a;
  --color-outline-variant: #c2c7ce;
  --color-surface-container-high: #dee9fc;
  --color-on-primary-container: #7fa7cd;

  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;

  @variant sm {
    padding-inline: 2rem;
  }
}

@layer base {
  body {
    color: var(--color-neutral);
    background: var(--color-surface);
  }
}

html {
  scroll-behavior: smooth;
}
