<div
  class="absolute top-0 right-0 -z-10 h-full w-1/2 translate-x-1/4 -skew-x-12 bg-surface-container-low opacity-50"
></div>
<div
  class="absolute bottom-0 left-0 -z-10 h-64 w-64 rounded-full bg-secondary-container/10 blur-3xl"
></div>
<section class="contact">
  <div
    class="relative flex flex-col justify-between overflow-hidden bg-primary p-10 text-white lg:col-span-5"
  >
    <div class="relative z-10">
      <h1
        class="mb-4 font-heading text-3xl leading-tight font-extrabold tracking-tight"
      >
        Impulse su negocio con TradeHub.
      </h1>
      <p class="mb-8 text-sm leading-relaxed text-on-primary-container">
        Conectamos autoridades arquitectónicas y proveedores premium en un
        ecosistema B2B de alta confianza.
      </p>
      <div class="space-y-6">
        <div class="flex items-start gap-4">
          <th-icon
            name="rosette-discount-check"
            class="text-2xl text-secondary-container"
          />
          <div>
            <p class="text-sm font-semibold">Red Verificada</p>
            <p class="text-xs text-on-primary-container">
              Acceso exclusivo a proveedores certificados.
            </p>
          </div>
        </div>
        <div class="flex items-start gap-4">
          <th-icon name="headset" class="text-2xl text-secondary-container" />
          <div>
            <p class="text-sm font-semibold">Soporte Estratégico</p>
            <p class="text-xs text-on-primary-container">
              Asistencia personalizada en sus transacciones.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="relative z-10 mt-12 border-t border-on-primary-container/20 pt-8"
    >
      <p
        class="mb-2 text-xs font-medium tracking-widest text-secondary-container uppercase"
      >
        Ubicación Central
      </p>
      <p class="text-sm">Medellín</p>
    </div>
    <div
      class="absolute -right-10 -bottom-10 h-40 w-40 rounded-full bg-secondary-container/20 blur-2xl"
    ></div>
  </div>
  <div class="bg-surface-container-lowest p-10 lg:col-span-7">
    <div class="mb-8">
      <h2 class="mb-2 font-heading text-2xl font-bold text-on-surface">
        Enviar solicitud
      </h2>
      <p class="text-sm text-on-surface-variant">
        Complete el formulario y un asesor senior le contactará en menos de 24
        horas.
      </p>
    </div>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="space-y-5">
      <div class="grid grid-cols-1 gap-5 md:grid-cols-2">
        <th-form-field label="Nombre" appeareance="tonal">
          <input
            formControlName="name"
            th-input
            placeholder="Ej. Alejandro Torres"
          />
          <th-error error-name="required"> Este campo es obligatorio </th-error>
        </th-form-field>
        <th-form-field label="Empresa" appeareance="tonal">
          <input
            th-input
            formControlName="company"
            placeholder="Nombre de su corporación"
          />
        </th-form-field>
      </div>
      <div>
        <th-form-field label="Correo electrónico" appeareance="tonal">
          <input
            th-input
            formControlName="email"
            type="email"
            placeholder="Correo electrónico"
            class="w-full"
          />
          <th-error error-name="required">
            El correo electrónico es requerido
          </th-error>
          <th-error error-name="email">
            Esta dirección de correo electrónico es inválida
          </th-error>
        </th-form-field>
      </div>
      <div>
        <th-form-field label="Categoría" appeareance="tonal">
          <select th-input formControlName="category">
            <option disabled selected value="">Seleccione una categoría</option>

            @for (category of categories; track category.id) {
            <option [value]="category.id">{{ category.name }}</option>
            }
            <option value="other">Otra</option>
          </select>
          <th-error> La categoría de tu compañía es requerida </th-error>
        </th-form-field>
      </div>
      <div>
        <th-form-field label="Sobre tu compañía" appeareance="tonal">
          <textarea
            formControlName="message"
            th-input
            placeholder="Describa brevemente su compañía..."
            class="resize-none"
            required=""
            rows="4"
          ></textarea>
          <th-error error-name="required">
            Es necesario que envies este campo
          </th-error>
        </th-form-field>
      </div>
      <div class="pt-4">
        <button th-btn [th-btn-full-width]="true" type="submit" icon="send">
          Enviar solicitud
        </button>
        <p
          class="font-body mt-4 text-center text-[10px] text-on-surface-variant"
        >
          Al enviar, acepta nuestros términos de servicio y políticas de
          privacidad B2B.
        </p>
      </div>
    </form>
  </div>
</section>
